.containerUserCard {
    width: 550px;
}
.title {
    color: #f28705;
    letter-spacing: 1px;
}
.label {
    margin-bottom: 5px;
}
.containerInput {
    width: 100%;
    border-radius: 3px;
}
.inputEdit {
    margin: 0 0 16px 0;
    border-radius: 3px;
}
.inputEdit:focus {
    outline-color: #718bd8;
}
.input {
    width: 100%;
    border-radius: 3px;
}
.button__Submit {
    padding: 7px 25px;
    letter-spacing: 1px;
    font-size: 18px;
    background: #718bd8;
    color: #f8f9fa;
}
.button__Submit:hover {
    background: #0a31bf;
    transition: 300ms all ease;
    cursor: pointer;
}
.button__Cancel {
    padding: 7px 25px;
    letter-spacing: 1px;
    font-size: 18px;
    background: #e9ecef;
}
.button__Cancel:hover {
    background: #6c757d;
    transition: 300ms all ease;
    color: #f8f9fa;
    cursor: pointer;
}