<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirige todo lo que no sea un archivo existente o directorio a index.html
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.html [L]
</IfModule>