.container {
    height: calc(100vh - 70px);
    width: 100%;
}
.container__Component {
    height: calc(100vh - 70px);
    width: 100%;
}
.title {
    color: #f28705;
    font-weight: 600;
    letter-spacing: 1px;
}
.container__Filters {
    width: 100%;
}
.select__Branch {
    outline-color: #718bd8;
}
.container__Column_Selector {
    height: 50px;
}
.span__Menu {
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.span__Menu:hover {
    border: 1px solid #718bd8;
    cursor: pointer;
}
.menu {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
    top: 5px;
    z-index: 1;
    right: 310px;
    background: white;
    height: 295px;
    width: 300px;
    border-radius: 10px;
}
.menu:hover {
    cursor: pointer;
}
.container__Link_Head_Navigate {
    width: 100%;
}
.Link__Consult {
    color: #718bd8;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    transition: 300ms ease all;
}
.Link__Consult:hover {
    color: #f8f9fa;
    border: none;
    background: #0a31bf;
}
.input__Date {
    outline-color: #718bd8;
}
.handle__Filter {
    padding: 5px 10px;
    border-radius: 2px;
    letter-spacing: 1px;
    background: #718bd8;
    color: #f8f9fa;
}
.handle__Filter:hover {
    background: #0a31bf;
    transition: 300ms all ease;
    cursor: pointer;
}
.clear__Filter {
    padding: 5px 10px;
    border-radius: 2px;
    letter-spacing: 1px;
    background: #dc3545;
    color: #f8f9fa;
}
.clear__Filter:hover {
    transition: 300ms all ease;
    cursor: pointer;
}
.container__Paginated {
    width: 100%;
}
.select {
    margin: 0 15px 0 10px;
    outline-color: #718bd8;
}

/* TABLA */
.container__Table {
    border: 1px solid rgba(0, 0, 0, 0.2);
    overflow-x: auto;
}
.container__Head {
    height: 60px;
    width: 100%;
    font-weight: 600;
}

/* TITULOS DE LAS COLUMNAS */
.container__Tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 60px;
}
.container__Tr, .container__Info {
    flex-wrap: nowrap;
}
.issue__Date {
    height: 60px;
    min-width: 100px;
    width: 9.5%;
}
.expiration__Date {
    height: 60px;
    min-width: 100px;
    width: 9.5%;
}
.branch {
    height: 60px;
    min-width: 200px;
    width: 20%;
}
.transaction__Counterpart {
    height: 60px;
    min-width: 150px;
    width: 14%;
}
.total__Value {
    height: 60px;
    min-width: 150px;
    width: 14%;
}
.dian__State {
    height: 60px;
    min-width: 100px;
    width: 9.5%;
}
.state {
    height: 60px;
    min-width: 100px;
    width: 9.5%;
}
.action {
    height: 60px;
    min-width: 150px;
    width: 14%;
}

/* CONTENIDO DE LA TABLA */
.container__Body {
    height: 60px;
    width: 100%;
}
.container__Info{
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 60px;
}
.text__Ellipsis {
    opacity: 0.75;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.button__Action {
    color: #6c757d;
    height: 35px;
    width: 50px;
    padding: 0 12px;
}
.button__Action:hover {
    color: #718bd8;
    transition: 300ms all ease;
    cursor: pointer;
}
.button__Delete {
    color: #6c757d;
    height: 35px;
    width: 25px;
    font-size: 14px;
}
.button__Delete:hover {
    transition: 300ms all ease;
    color: #718bd8;
    cursor: pointer;
}
.message__Unrelated_Items {
    height: 60px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}