.container__Whatsapp {
    border: none;
    border-radius: 10px;
    position: fixed;    
    bottom: 160px;
    right: 20px;
    z-index: 2;
    transition: 300ms all ease;
}
.container__Whatsapp:hover {
    cursor: pointer;
    transform: scale(1.2) rotate(10deg);
}
.whatsapp {
    height: 45px;
    width: 45px;
}

/* ---------- RESPONSIVE (600 PX) ---------- */
@media screen and (max-width: 500px) {
    .container__Whatsapp {  
        bottom: 100px;
    }
    .whatsapp {
        height: 36px;
        width: 36px;
    }
}
